<div class="progress-panel collapse">
  <div class="progress progress-striped active">
    <div class="bar"></div>
  </div>
  <div class="alert alert-info"></div>
</div>
<div class="results-panel">
</div>
<h1>{{i18n.titles.welcome}}</h1>
<h2>{{i18n.titles.tracked}}</h2>
<p>{{i18n.msgs.tracked}}</p>
<ul class="list"></ul>
<div class="btn-group">
  <a class="track btn" href="#" tabIndex="1">{{i18n.buttons.track}}</a>
  <a class="export btn" href="#">{{i18n.buttons.export}}</a>
  <a class="competitions btn" href="#">{{i18n.buttons.competitions}}</a>
  <a class="refresh btn" href="#">{{i18n.buttons.refresh}}</a>
</div>