<div class="row-fluid">
  <div class="tracked span6">
    <h2 class="box"><span class="text">{{i18n.titles.tracked}}</span><span class="image"></span></h2>
    <div class="bar">
      <a class="track btn btn-large" href="#"><i class="icon-plus"></i>{{i18n.buttons.track}}</a>
      <a class="export btn btn-large" href="#"><i class="icon-download"></i>{{i18n.buttons.export}}</a>
      <a class="untrack btn btn-warning hidden" href="#"><i class="icon-trash"></i></a>
    </div>
    <ul class="list"></ul>
  </div>
  <div class="competitions span6">
    <h2 class="right box"><span class="text">{{i18n.titles.competitions}}</span><span class="image"></span></h2>
    <div class="bar">
      <a class="refresh btn btn-large " href="#"><i class="icon-refresh"></i>{{i18n.buttons.refresh}}</a>
      <a class="remove btn btn-warning hidden" href="#"><i class="icon-trash"></i></a>
    </div>
    <ul class="list"></ul>
  </div>
</div>