{{{i18n.msgs.chooseCouple}}}
<form class="controls add-couple">
  <div class="input-append">
    <input class="name" type="text" autocomplete="off">
    <span class="add-on"><i class="icon-question-sign"></i></span>
  </div>
  <span class="alert"></span>
</form>
{{{i18n.msgs.chooseGroup}}}
<form class="controls add-group">
  <div class="input-append">
    <input class="name" type="text" autocomplete="off">
    <span class="add-on"><i class="icon-question-sign"></i></span>
  </div>
  <span class="alert"></span>
</form>

