@font-face
  font-family Titillium Web
  src url('TitilliumWeb-Regular.otf')
@font-face
  font-family Titillium Web
  font-weight bold
  src url('TitilliumWeb-Bold.otf')
@font-face
  font-family Titillium Web
  font-weight lighter
  src url('TitilliumWeb-Light.otf')


enterDuration = 0.5s
  
primaryColor = #890F0F
inverseColor = #333333
buttonColor = #c6c6c6
warningColor = #f89406

boxBackground = lighten(inverseColor, 20%)
pageBackground = -webkit-radial-gradient(center, ellipse cover, #fefefe 55%, buttonColor 100%)
contrastBackground = primaryColor

titleShadow = 0px 2px 6px #999999
boxShadow = 0px 2px 6px #000000

fontColor = #666666
titleColor = #666666
boxColor = #dddddd

fontSize = 14px
fontFamily = 'Titillium Web'